@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<a class="btn btn-success" href="/admin">Admin Page : Within Solution</a>

<a class="btn btn-danger" href="/customerview">Customer Page : Razor Class Library</a>

@code{

}
